<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Feed</title>
    <th:block th:include="fragments/global::head" th:tag="remove"></th:block>
</head>
<body>
<header th:replace="fragments/global::header"></header>
<div id="main-container" class="container-sm">
    <div class="row">
        <a th:each="event : ${events}" th:object="${event}" th:href="*{'/events/view/'+id}"
           class="d-block link-unstyled mb-3 col-md-6">
            <div class="card p-3">
                <div class="row align-items-center">
                    <div class="col-4 text-left" th:text="*{organizer.name}"></div>
                    <div class="col-4 text-center" th:text="*{title}"></div>
                    <div class="col-4 text-right" th:text="*{public}?'public':'private'"></div>
                </div>
                <div class="my-1">
                    <img th:src="@{'/events/image/'+*{id}}" class="img-fluid">
                </div>
                <div class="d-flex justify-content-between">
                    <div th:text="*{date + ' ' + time}"></div>
                    <div th:text="*{zone}"></div>
                </div>
            </div>
        </a>
    </div>
</div>
<footer th:replace="fragments/global::footer"></footer>
</body>
</html>
