<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User fragments</title>
</head>
<body>
<form th:fragment="user-form(user, action)" th:action="${action}" th:object="${user}" method="post">
    <!--/*@thymesVar id="user" type="isep.gl.distouch.model.User"*/-->
    <h2 class="text-center m-3">Registration Form</h2>
    <div class="col-lg-6 offset-lg-3">
        <div class="form-group">
            <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control"
                   th:classappend="${#fields.hasErrors('firstName')}?'is-invalid'" autofocus/>
            <label th:errors="*{firstName}" class="invalid-feedback"></label>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"
                   th:classappend="${#fields.hasErrors('lastName')}?'is-invalid'"/>
            <label th:errors="*{lastName}" class="invalid-feedback"></label>
        </div>
        <div class="form-group">
            <input type="date" th:field="*{birthDate}" placeholder="Birth Date" class="form-control"
                   th:classappend="${#fields.hasErrors('birthDate')}?'is-invalid'" autocomplete="bday"/>
            <label th:errors="*{birthDate}" class="invalid-feedback"></label>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{city}" placeholder="City" class="form-control"
                   th:classappend="${#fields.hasErrors('city')}?'is-invalid'"/>
            <label th:errors="*{city}" class="invalid-feedback"></label>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{country}" placeholder="Country" class="form-control"
                   th:classappend="${#fields.hasErrors('country')}?'is-invalid'"/>
            <label th:errors="*{country}" class="invalid-feedback"></label>
        </div>
        <div class="form-group">
            <input type="email" th:field="*{email}" placeholder="Email" class="form-control"
                   th:classappend="${#fields.hasErrors('email')}?'is-invalid'"/>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></label>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control"
                   th:classappend="${#fields.hasErrors('password')}?'is-invalid'"/>
            <label th:errors="*{password}" class="invalid-feedback"></label>
        </div>
        <div th:replace="fragments/global::message"></div>
    </div>
    <div class="form-group col-lg-4 offset-lg-4">
        <button type="submit" class="btn btn-primary btn-block">Send</button>
    </div>
</form>
</body>
</html>
