<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:include="fragments/global::head" th:tag="remove"></th:block>
</head>

<body>
<header th:replace="fragments/global::header"></header>
<div id="main-container" class="container-sm">
    <form th:action="@{/login}" method="POST">
        <h2 class="text-center m-3">Login</h2>
        <div class="col-sm-8 offset-sm-2">
            <div class="form-group">
                <input type="text" id="email" name="email" placeholder="Email" class="form-control" autofocus/>
            </div>
            <div class="form-group">
                <input type="password" th:placeholder="Password" id="password" name="password" class="form-control"/>
            </div>
        </div>
        <div class="form-group col-sm-4 offset-sm-4">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
    </form>
    <div class="col-8 col-sm-2 offset-2 offset-sm-5">
        <a class="btn btn-md btn-secondary btn-block" th:href="@{/registration}">Register</a>
    </div>
</div>
<footer th:replace="fragments/global::footer"></footer>
</body>
</html>
