<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <th:block th:include="fragments/global::head" th:tag="remove"></th:block>
</head>
<body>
<header th:replace="fragments/global::header"></header>
<div id="main-container" class="container-sm">
    <h2 class="text-center m-3">Registration</h2>
    <form th:replace="fragments/user::user-form(user=${user}, action=@{/registration})"></form>
    <div class="col-8 col-sm-2 offset-2 offset-sm-5">
        <a class="btn btn-md btn-secondary btn-block" th:href="@{/login}">Login</a>
    </div>
</div>
<footer th:replace="fragments/global::footer"></footer>
</body>
</html>
