html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10%;
    z-index: 999;
    position: relative;
}

#main-container {
    height: 80%;
    padding-top: 3%;
    overflow-y: auto;
}

footer {
    height: 10%;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.img-responsive {
    max-height: 100%;
    width: auto;
}
